.container_ {
    margin: 0;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 90%;
    background-image: url('../../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

  }

  .table-wrapper {
    padding: 20px 50px;
    
  }